<div class=" container-fluid bg-dark">
    <div class="row">
        <!--for mobile view-->
        <div class="displayBlockMobile" style="width:100%;z-index:1;">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-md navbar-fixed navbar-dark">

                    <a class="navbar-brand text-white">
                        {{userInfo.firstName}} {{userInfo.lastName}}
                        <i class="online" *ngIf="disconnectedSocket == false"></i>
                        <i class="offline" *ngIf="disconnectedSocket == true"></i>
                    </a>



                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>

                    </button>

                    <div class="collapse people-list navbar-collapse" id="navbarSupportedContent">

                        <br />

                        <div>
                            <button (click)="logout()" class="btn btn-info customButton">Logout</button>
                        </div>

                        <ul class="list">
                            <li class="p-2 typeOfEvents" style="color:white;font-size: 25px;">
                                <u>UsersList</u>
                            </li>
                            <li class="clearfix cursorPointer" [ngClass]="{'activeEvent': user.viewing == true}"
                                (click)="userSelectedByAdmin(user.userName, user.email,user.fullName)"
                                *ngFor="let user of userList">
                                <div class="userPresence">
                                    <user-details [userFirstName]="user.fullName" [userLastName]="''"
                                        [userStatus]="'online'"></user-details>
                                </div>
                            </li>

                        </ul>

                    </div>

                </nav>
            </div>
            <div class="row m-0 " style="background-color: Slategrey;">
                <div class="col-8 d-flex justify-content-start "
                    style="text-align:center;align-self:center;color:white;text-transform: capitalize;">

                    {{userSelectedfullName}}
                </div>

                <div class="col-4 m-0 p-0  d-flex justify-content-end">
                    <button (click)="goToDashboard()" class="btn btn-info "
                        style="align-self:center;border-radius: 16px; background-color: burlywood">Back</button>
                </div>
            </div>
            <div class=" row m-0 d-flex justify-content-center " style="background-color:white;color: black"
                *ngIf="dayViewToken == false">
                <div class="col-3">
                    <div class="btn m-0 " style="border-radius: 50%;align-self:center;color:blue;"
                        mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px;"> &#8678;</span>
                    </div>
                </div>
                <div class="col-6">


                    <div class="btn-group d-flex justify-content-center" style="text-align:center;">

                        &nbsp;
                        <div style="text-align:center;color:black;">
                            <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="btn  m-0" style="border-radius:50%;align-self:center;color:blue;" mwlCalendarNextView
                        [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px; text-align: center"> &#8680; </span>
                    </div>
                </div>
            </div>
            <div class=" displayLargeWidthMobile row m-0 d-flex justify-content-center "
                style="background-color:white;color: black" *ngIf="dayViewToken == true">

                <div class="col-3">
                    <div class="btn m-0 " style="border-radius: 50%;align-self:center;color:blue;"
                        mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px;"> &#8678;</span>
                    </div>
                </div>
                <div class="col-6">


                    <div class="btn-group d-flex justify-content-center" style="text-align:center;">

                        &nbsp;
                        <div style="text-align:center;color:black;">
                            <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="btn  m-0" style="border-radius:50%;align-self:center;color:blue;" mwlCalendarNextView
                        [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px; text-align: center"> &#8680; </span>
                    </div>
                </div>
            </div>


            <div class="col-12 bg-success">
                <div *ngIf="dayViewToken == false">
                    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                </div>
                <div class="displayLargeWidthMobile" *ngIf="dayViewToken == true">
                    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                </div>
                <div class="displaySmallWidthMobile" *ngIf="dayViewToken == true">
                    <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view>
                </div>
            </div>
        </div>

        <!-- Mobile view ends here -->



        <!-- Non mobile view starts here -->


        <div class="col-4 displayNoneMobile col-sm-4 col-md-4 people-list p-0 bg-success" id="people-list">
            <div class="p-3 text-white textCapitalize textCenter">
                {{userInfo.firstName}} {{userInfo.lastName}}
                <i class="fa fa-circle online" *ngIf="disconnectedSocket == false"></i>
                <i class="fa fa-circle offline" *ngIf="disconnectedSocket == true"></i>
                <br>
                <br>
                <button (click)="logout()" class="btn btn-info customButton">Logout</button>
            </div>

            <ul class="list">
                <li class="p-2 typeOfEvents" style="color:white;font-size: 25px;">
                    <u>UsersList</u>
                </li>
                <li class="clearfix cursorPointer" [ngClass]="{'activeEvent': user.viewing == true}"
                    (click)="userSelectedByAdmin(user.userName, user.email,user.fullName)"
                    *ngFor="let user of userList">
                    <div class="userPresence">
                        <user-details [userFirstName]="user.fullName" [userLastName]="''" [userStatus]="'online'">
                        </user-details>
                    </div>
                </li>

            </ul>
        </div>
        <div class="col-8 displayNoneMobile col-sm-8 col-md-8 bg-primary">
            <div class="row m-0 " style="background-color: Slategrey;">
                <div class="col-8 d-flex justify-content-start "
                    style="text-align:center;align-self:center;color:white;text-transform: capitalize;">

                    {{userSelectedfullName}}
                </div>

                <div class="col-4 m-0 p-0  d-flex justify-content-end">
                    <button (click)="goToDashboard()" class="btn btn-info "
                        style="align-self:center;border-radius: 16px; background-color: burlywood">Back</button>
                </div>
            </div>
            <div class="  row m-0 d-flex justify-content-center " style="background-color:white;color: black"
                *ngIf="dayViewToken == false">
                <div class="col-3">
                    <div class="btn m-0 " style="border-radius: 50%;align-self:center;color:blue;"
                        mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px;"> &#8678;</span>
                    </div>
                </div>
                <div class="col-6">


                    <div class="btn-group d-flex justify-content-center" style="text-align:center;">

                        &nbsp;
                        <div style="text-align:center;color:black;">
                            <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="btn  m-0" style="border-radius:50%;align-self:center;color:blue;" mwlCalendarNextView
                        [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px; text-align: center"> &#8680; </span>
                    </div>
                </div>
            </div>
            <div class="  row m-0 d-flex justify-content-center " style="background-color:white;color: black"
                *ngIf="dayViewToken == true">

                <div class="col-3">
                    <div class="btn m-0 " style="border-radius: 50%;align-self:center;color:blue;"
                        mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px;"> &#8678;</span>
                    </div>
                </div>
                <div class="col-6">


                    <div class="btn-group d-flex justify-content-center" style="text-align:center;">

                        &nbsp;
                        <div style="text-align:center;color:black;">
                            <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
                        </div>
                        &nbsp;

                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center">
                    <div class="btn  m-0" style="border-radius:50%;align-self:center;color:blue;" mwlCalendarNextView
                        [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        <span style="font: size 50px; text-align: center"> &#8680; </span>
                    </div>
                </div>
            </div>
            <div class="col-12 bg-success">
                <div *ngIf="dayViewToken == false">
                    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                        [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                </div>
                <div *ngIf="dayViewToken == true">
                    <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                        (eventClicked)="handleEvent('Clicked', $event.event)"
                        (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                </div>
            </div>

        </div>

        <button type="button" class="btn btn-primary" data-target="#exampleModalScrollable">
            Launch demo modal
        </button>

        <!-- non mobile view ends here -->
    </div>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Events On {{viewDate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: Slategrey">
                <ul class="list">
                    <li class="p-2 typeOfEvents" style="color:white;font-size: 25px;">
                        <u>EventsList</u>
                    </li>
                    <li class="clearfix cursorPointer" 
                       
                        *ngFor="let event of checkForEventsOnDateList">
                        <div class="userPresence" style="border-style: ridge;">
                            <ul style="list-style-type: square;">
                                <li>
                                        {{event.title}} ---- {{event.eventId}}

                                </li>
                            </ul>
                            
                        </div>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <!-- <a class="btn btn-primary" [routerLink]="['/edit',currentEvent.eventId]">EDIT</a> -->
                <button type="button" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>